/* TEMA */
.cabeçalho{
  text-align: center;
  background-color: rgb(146, 190, 255);
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px;
}
/*MENU*/
.menu{
  text-align: center;
  padding: 10px;
  color: rgb(255, 0, 0);
}
.tema{
  background-color: rgb(26, 106, 255);
  text-align: center;
  font-family: Arial, Helvetica, sans-serif ;
}

/*RODAPÉ*/
.rodape {
  background-color: #2f2f2f;
  color: #fff;
  text-align: center;
  padding: 0px;
}