body {
    font-family: Montserrat, Arial, sans-serif;
    background: #cce0ff; /* azul claro */
    margin: auto;
    padding: 0
}

                  /* TEMA */
.cabeçalho{
background-image: url(); /* Adicione o caminho da sua imagem aqui */
background-size: cover; /* Faz a imagem cobrir toda a área da div */
 background-position: center; /* Centraliza a imagem */
color: rgb(0, 0, 0); /* Cor do texto */
text-align: center; /* Alinha o texto no centro */
padding: 30px; /* Espaçamento interno */
font-size: 40px; /* Tamanho da fonte */
font-weight: bold; /* Negrito */
height:200px; /* Altura da div */
                  }

/* Menu de Navegação */
.menu{
  padding: 10px;
  display: flex;
  justify-content: center;
  gap: 25px;
  background-color: #015ebb; /* azul médio */
}

.menu a{
 text-decoration: none; 
  font-size: 20px;
  color: #000000; /* texto branco */
  border-radius: 9px;
  background-color: #99ccff; /* azul claro */
  padding: 9px;
  margin: 5px;
}

.menu a:hover{
   text-decoration: none; /*tira a linha da o letras*/;
  border-radius: 20px;
  color: #003366; /* azul escuro no hover */
  background-color: #66b2ff; /* azul médio */
}

/* Conteúdo Principal */
.inicial {
    background-color: white;
    padding: 90px;
    margin: 70px;
    border-radius: 20px;
    box-shadow: 0px 4px 8px rgb(0, 0, 0)
}

.inicial h2 {
    font-size: 30px;
    margin-bottom: 20px;
    color: #356391;
}

.inicial p {
  padding: 20px;
  font-size: 25px;
    line-height: 1.6;
    margin-bottom: 20px;
    color: #000000;
}

.inicial strong {
    color: #008316;  /* Cor verde para destacar palavras-chave */
}

/* Rodapé */
.rodape {
  background-color: #001f4d; /* azul muito escuro */
  color: #ffffff;
  text-align: center;
  padding: 1px;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 1000; /* garante que fique acima do conteúdo */
}


.video{
  display: flex;
  justify-content: center;
  margin: auto;
}

/* página sobre */
.sobre {
  font-size: 25px;
  text-align: center;
  width: 80%;
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #66b2ff; /* azul médio */
  border-radius: 20px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

                                  /* página conteúdo */
.tema{
  text-align: center;
  font-size: 28px;
}

.conteudo, .conteudo2, .conteudo3, .temaultimo ,.tema {
    background-color: #66b2ff;
    margin: auto;
  max-width: 1000px;
    border-radius: 20px;
  box-shadow: 5px 5px 10px rgb(0, 0, 0);
  text-align: center;
  font-size: 25px;

}
.lista p{
  font-size: 25px;
  margin: auto;
}
.lista strong{
  color: #004d06;
}

.lista{
   border-radius: 20px;
  background-color: #66b2ff;
  max-width: 600px;
  font-size: 25px;
  margin: auto;
}

.imagens{
  display: flex;
  justify-content: center;
}

                                        /* página curiosidades */
h2 {
    text-align: center;
    color: #003366;
    font-size: 36px;
}

.curiosidade {
  background-color: #99ccff;
  border-radius: 20px;
  margin: 40px;
  padding: 15px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.curiosidade h3 {
    color: #004080;
    margin-top: 0;
}

.curiosidade p {
  font-size: 25px;
    color: #003366;
    background-color: #99ccff;
}


                            /* FORMULÁRIO */
.form{
    font-size: 20px;
    text-align: center;
    padding: 2%;
    margin: 5%; 
    background-color: #3366cc; 
    border-radius: 20px;
    box-shadow: 5px 5px 10px #000000;
}

.form h2{
    font-size: 40px;
    color: #000000;
}

.form input{
    font-size: 15px;
    padding: 20px;
    width: 20%;
    border-radius: 10px;
    border: 2px solid #99ccff; 
}

.form button{
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: #003366; 
    color: white;
    box-shadow: 5px 5px 10px #000000;
}

.form button:hover{
  border-radius: 30px;
  background-color: #001f4d;
   box-shadow: 5px 5px 10px #006faf;
}
  .tudo{
    padding: 110px;
    margin: 110px;
    background-color: #082e66;
    border-radius: 20px;
  }